<div class="columns">
  <div class="column is-two-thirds">
    {{#each rated_pet as |rated|}}
    <div class="card">
      <h1 class="is-size-2 px-4 py-3">Recently Rated: {{pet_name}}</h1>

      <div class="card-image">
        <figure class="image is-4x3">
          <img src="{{pet_image}}" alt="Pet Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
          </div>
          <div class="media-content">
            <p class="title is-4">{{pet_name}}</p>
            <p class="subtitle is-6">Owner: {{owner_name}}</p>
          </div>
        </div>

        <div class="content">
          {{pet_description}}
          <div class="buttons has-addons is-centered">
            <button data-id="{{id}}" data-score="{{pet_score}}" class="increment button is-primary">⬆</button>
            <button class="score button is-light">{{pet_score}}</button>
            <button data-id="{{id}}" data-score="{{pet_score}}" class="decrement button is-danger">⬇</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    {{#each created_pet as |created|}}
    <div class="card">
      <h1 class="is-size-2 px-4 py-3">Recently Uploaded: {{pet_name}}</h1>
      <div class="card-image">
        <figure class="image is-4x3">
          <img src="{{pet_image}}" alt="Pet image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{pet_name}}</p>
            <p class="subtitle is-6">Owner: {{owner_name}}</p>
          </div>
        </div>

        <div class="content">
          {{pet_description}}
        </div>
        <div class="buttons has-addons is-centered">
          <button data-id="{{id}}" data-score="{{pet_score}}" class="increment button is-primary">⬆</button>
          <button class="score button is-light">{{pet_score}}</button>
          <button data-id="{{id}}" data-score="{{pet_score}}" class="decrement button is-danger">⬇</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="column">
    <div class="card">
      <h1 class="is-size-2 has-text-centered py-5">How it Works</h1>
      <div class="columns is-mobile">
        <div class="column">
          <p class="bd-notification px-2">We all love our animals, but we thought it would be fun to add a
            little
            competition to the game. Let's see whose pet can climb to the top of our rankings!</p>
        </div>
      </div>
      <div class="has-text-centered">
        <h1 class="is-size-2 has-text-centered py-5">Rate A Random Pet</h1>
        <button data-id={{allpet.length}} class="button is-medium randomBtn">Random</button>
        <br>
        <br>
         <h1 class="is-size-2 has-text-centered py-5">See the Top 5 Pets!</h1>
           <button href="./rankings.handlebars" class="button is-medium">Top 5 Pets</button>
           <br><br>

      </div>
    </div>
  </div>
</div>
<script src="/js/gallery.js"></script>
<script src="/js/score.js"></script>